@charset 'utf-8';
*{
	box-sizing: border-box;
	font-family: 'Verdana';
	margin: 0px;
	padding: 0px;
}
body{
	background-color: #eee;
}
button, input{
	border: none;
	outline: none;
}
#container{
	margin: 10px;
	width: 300px;
}
.skills{
	background-color: #fff;
	border-radius: 4px;
	height: 130px;
	margin: 5px 0px;
	width: 300px;
}
.diode{
	background-color: #c00;
	border-radius: 7px;
	float: left;
	height: 14px;
	margin: 13px 10px;
	width: 14px;
}
h3{
	border-bottom: 1px solid #ccc;
	font-weight: 100;
}
h3, .time{
	height: 40px;
	line-height: 40px;
	margin: auto;
	width: 280px;
}
.hidden{
	display: none;
}
.time{
	font-size: 14px;
}
.start, .zero{
	border-radius: 4px;
	color: #fff;
	float: left;
}
.start{
	background-color: #0a0;
	font-size: 20px;
	height: 40px;
	margin: 0px 10px;
	width: 100px;
}
.start:hover, #importTime:hover, #send:hover, #close:hover{
	background-color: #0b0;
	cursor: pointer;
}
.zero{
	background-color: #a00;
	height: 30px;
	margin: 5px 0px;
	width: 60px;
}
.zero:disabled{
	opacity: 0.2;
}
.zero:hover{
	background-color: #b00;
	cursor: pointer;
}
#info{
	color: #888;
	font-size: 10px;
	text-align: center;
}
#form{
	background-color: #fff;
	border-radius: 4px;
	height: 110px;
	margin-top: 5px;
	position: relative;
	width: 300px;
}
#import{
	position: absolute;
	width: 300px;
}
#import p{
	float: left;
	font-size: 16px;
	line-height: 110px;
	margin-left: 10px;
}
#importTime{
	background-color: #0a0;
	border-radius: 4px;
	float: right;
	height: 90px;
	margin: 10px;
	width: 90px;
}
form{
	display: none;
	opacity: 0.00;
	position: absolute;
}
label{
	color: #888;
	font-size: 16px;
	height: 30px;
	line-height: 30px;
	margin: 0px 10px;
}
#password{
	border: 1px solid #ccc;
	height: 30px;
	margin: 0px 10px 10px 10px;
	padding: 0px 10px;
	width: 280px;
}
#send, #close{
	border-radius: 4px;
	float: right;
	height: 30px;
	margin: 0px 10px 10px 0px;
	width: 30px;
}
#statement{
	background-color: #fff;
	display: none;
	height: 100%;
	opacity: 0.00;
	position: absolute;
	width: 100%;
}